body{
    font-family: Arial;
    padding: 20px;
}

.form{
    margin-bottom: 15px;
}

input{
    padding:6px;
    margin-right:10px;
}

button{
    padding:6px 12px;
    cursor:pointer;
}

table{
    width:600px;
    border-collapse:collapse;
}

th{
    background:#eee;
}

.low-score{
    background: yellow;
}
